<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>877984982059-301sk46i82ocdga25vu3i51cu7muju9i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.877984982059-301sk46i82ocdga25vu3i51cu7muju9i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>877984982059-17tcoohqj5qjrg16nqs2p1gujqd7kq69.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCDH1o9FqIyALp4JAg1krP1LvB_hCuulxM</string>
	<key>GCM_SENDER_ID</key>
	<string>877984982059</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rideMap</string>
	<key>PROJECT_ID</key>
	<string>ridemap-314506</string>
	<key>STORAGE_BUCKET</key>
	<string>ridemap-314506.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:877984982059:ios:6a637f704f52595039b66e</string>
	<key>DATABASE_URL</key>
	<string>https://ridemap-314506-default-rtdb.firebaseio.com</string>
</dict>
</plist>